:root {
  // Basic config
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  //Space Variables

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-xmd: 40px;
  --space-lg: 48px;
  --space-xlg: 64px;

  //Font Variables

  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size: 20px;
  --font-size-md: 24px;
  --font-size-lg: 32px;
  --font-size-xlg: 40px;
  --font-size-xxlg: 48px;
}