@import 'styles/core.scss';

.app {
  &__router {
    padding: var(--space-sm);
  }

  &__home {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $orange-500;
    font-size: var(--font-size-md);
    text-decoration: none;
  }
}